<div [ngSwitch]="tipo">
    <div *ngSwitchCase = "'editar'" [ngStyle]="{'visibility': visible ? 'visible':'hidden'}">
        <button  [ngStyle]="posicion" class="btncircl"><fa-icon [icon]="pencil"></fa-icon></button>
    </div>
    <div *ngSwitchCase="'cerrar'" [ngStyle]="{'visibility': visible ? 'visible':'hidden'}">
        <button  [ngStyle]="posicion" class="btncircl"><fa-icon [icon]="cruz"></fa-icon></button>
    </div>
    <div  [ngStyle]="posicion" *ngSwitchDefault class="src-file editararch">
        <input type="file" aria-label="Archivo" accept="image/*">
        <fa-icon [icon]="pencil" style="position: absolute; z-index: 1; right: 32%; top: 38%;"></fa-icon>
    </div>
</div>   
