fa-icon{
    color:#fff;
}

.btncircl{    
    width: 38px;
    height: 35px;
    border-radius: 50%;
    background-color: #198754;
    border: #198754;
    color: #fff;
    margin: 15px 15px 0px 0px;
    cursor: pointer;
    box-shadow: inset 0 10px 15px rgb(23 201 118 / 81%),
                inset 0 -10px 15px rgb(10 54 34 / 30%),
                inset 10px 0 15px rgb(10 54 34 / 30%),
                inset -10px 0 15px rgb(10 54 34 / 30%),
                      0 5px 20px rgb(0 0 0 / 10%);
}

.btncircl:active {
    box-shadow: inset 0 5px 30px rgba(0,0,0,.2);
    background-size: 5.9em;
}

.editararch {
    margin: 15px 15px 0px 0px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.editararch::before {
    width: 38px;
    height: 35px;
    background-color: #198754;
    box-shadow: inset 0 10px 15px rgb(23 201 118 / 81%),
                inset 0 -10px 15px rgb(10 54 34 / 30%),
                inset 10px 0 15px rgb(10 54 34 / 30%),
                inset -10px 0 15px rgb(10 54 34 / 30%),
                      0 5px 20px rgb(0 0 0 / 10%);
    position: absolute;
    border-radius: 50%;
    right: 0;
}
  
.editararch input[type="file"] {
    opacity: 0;
    margin-top: 6px;
    height: 20px;
    width: 35px;
    display: inline-block;
}
  
.src-file::before {
    content: '';
}