<div class="container">
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form action="#">
            <div class="row">
                <span> @ </span>
                <input type="text" placeholder="Email or Phone" required>
            </div>
            <div class="row">
                <span><fa-icon [icon]="pass"></fa-icon></span>
                <input type="password" placeholder="Password" required>
            </div>
            <div class="row button">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
