*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.wrapper {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    transition: all .5s;
}

#modal .wrapper .tarjeta{
    width: 20%;
    height: 43%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
}

.tarjeta{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}

#modal .wrapper .tarjeta .title{
    width: 100%;
    height: 90px;
    background: #373ab5;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta form{
    padding: 30px 25px 25px 25px;
}

.tarjeta form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.body form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus{
    border-color: #373ab5;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}

form .row input::placeholder{
    color: #999;
}

.body form .row span{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #373ab5;
    border: 1px solid #373ab5;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    margin: 50px 0 10px 0;
}

.button{
    position: fixed;
    z-index: 4;
    top: 63vh;
    left: 46vw;
    height: 4.87%;
    padding: 0 13px;
    background: #373ab5;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #373ab5;
}
  
#cerrar-modal {
    display: none;
}


#cerrar-modal + label {
    display: flex;
    align-items: center;
    left: 42vw;
    background: #595959;
}

#cerrar-modal:checked ~ .wrapper {
    top: -100vh;
}

#cerrar-modal:checked + label {
    display: none;
}