<div id="modal">
    <input id="cerrar-modal" type="radio" name="modal"/>
    <label class="button" for="cerrar-modal">Cerrar</label>
    <button class="button" >Ingresar</button>
    <div class="wrapper">
        <div class="tarjeta">
            <div class="title"><span>Login Form</span></div>
            <div class="body">
                <form action="#">
                    <div class="row">
                        <span> @ </span>
                        <input type="text" placeholder="Email or Phone" required>
                    </div>
                    <div class="row">
                        <span><fa-icon [icon]="pass"></fa-icon></span>
                        <input type="password" placeholder="Password" required>
                    </div>
                    <hr>
                </form>
            </div>
        </div>
    </div>
</div>