<div id="modal">
    <app-btn-login (event)="Value($event)"></app-btn-login>
    <input id="cerrar-modal" type="radio" name="modal" (change)="Cerrar()"/>
    <label class="button" for="cerrar-modal" [ngStyle]="{'top': value ? '62vh' : '-62vh'}">Cerrar</label>
    <div class="wrapper" [ngStyle]="value ? {'top': '0'} : {top:''}">
        <div class="tarjeta">
            <div class="title"><span>Login Form</span></div>
            <div class="body">
                <form action="#">
                    <div class="row">
                        <span> @ </span>
                        <input type="text" placeholder="Email or Phone" required>
                    </div>
                    <div class="row">
                        <span><fa-icon [icon]="pass"></fa-icon></span>
                        <input type="password" placeholder="Password" required>
                    </div>
                    <hr>
                    <div class="row">
                        <button class="button"  [ngStyle]="{'top': value ? '62vh' : '-62vh'}">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>