.banner{
    height: 500px; 
    background-image: url(../../../assets/Imagenes/banner.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    position: relative;
    margin-top: 20px;
    border-radius: 7px 7px 0px 0px;
}