.container{
    position: relative;
}

.tarjeta{
    display: flex;
    min-height: 50px;
    padding: 10px 20px 10px 0px;
}

.img{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

img{
    width: 80%;
    border-radius: 7px;
    max-width: 170px;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    width: 90%;
    justify-content: center;
}

p{
    margin-top: 3px;
    font-size: 15px;
}

.aux{
    display: flex;
    justify-content: space-between;
}

.botones{
    position: absolute;
    left: 90%;
    bottom: 90%;
    width: 8%;
}