<div class="container">
    <div class="botones">
        <app-btn-circl [tipo]="'editar'" [posicion]="posEdit"></app-btn-circl>
        <app-btn-circl [tipo]="'cerrar'" [posicion]="posClose"></app-btn-circl>
    </div>
    <div class="tarjeta">
    <div class="img">
        <img src="{{dato.img}}">
    </div>
    <div class="cuerpo">
        <div class="aux">
            <h3>{{dato.titulo}}</h3>
            <p>{{dato.fecha}}</p>
        </div>
        <h4>{{dato.subtitulo}}</h4>
        <p>{{dato.descripcion}}</p>
    </div>
    </div></div>
